{% if app.user %}
    <div class="mb-3 d-flex justify-content-lg-end justify-content-center">
        <a href="{{ path('app_user') }}" role="button" class="btn-info btn ml-3">Mon compte</a>
        <a href="{{ path('app_logout') }}" role="button" class="btn-info btn mx-3">Se déconnecter</a>
    </div>
{% else %}
    <div class="mb-3 d-flex justify-content-lg-end justify-content-center">
        <a href="{{ path('app_register') }}" role="button" class="btn btn-info ml-3">S'inscrire</button></a>
        <a href="{{ path('app_login') }}" role="button" class="btn btn-info mx-3">Se connecter</button></a>
    </div>
{% endif %}