{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="container d-flex align-items-center flex-column my-5">
    <h1 class="my-3">Hypnose - Le JDR</h1>
    <div class="col col-md-6 mx-auto px-0">
    <img src={{ asset('images/pendulum.jpg') }} alt="pendulum" class="my-3 rounded w-100">
    </div>
    <p class="text-center mt-3">Bienvenue sur le site d'Hypnose - le JDR !</p>

    <p class="text-center">Vous trouverez ici tout le nécessaire afin de pouvoir démarrer une partie de ce jeu de
        rôle, que ce soit en tant que Maître du Jeu ou en tant que joueur. Vous pourrez aussi y créer vos
        personnages, les associer aux parties que vous aurez créé et rédiger en ligne les résumés de vos palpitantes
        aventures.
    </p>

    <p class="text-center">Duis efficitur nibh eget turpis vehicula, eu efficitur justo hendrerit. Ut in urna tortor. Nunc faucibus eget
        eros eleifend lobortis. Aenean tristique augue at viverra pulvinar. Nunc sit amet mi condimentum, molestie
        dui a, aliquet justo. Fusce sed nibh luctus, convallis nisi quis, aliquam leo. Curabitur eu massa sem.
        Pellentesque elementum finibus auctor.</p>

    <p  class="text-center">Pellentesque sit amet felis in sem interdum pellentesque ut nec nunc. Maecenas at purus
        tempor, posuere erat et,
                  sodales sem. Praesent elementum, turpis eu auctor aliquet, eros purus tincidunt risus, at dignissim
        sapien tellus sit amet purus. Suspendisse tempus arcu lacus, sed gravida metus vehicula in. Nam eu finibus
        nunc, id vulputate nibh. In auctor odio eget tristique sollicitudin. Praesent suscipit egestas risus eget feugiat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus consequat libero quis mauris viverra ultricies. Suspendisse posuere gravida tristique. Nam sed tellus ut lectus porttitor pretium quis id metus. Proin vestibulum mattis vehicula. Phasellus feugiat neque euismod libero aliquam mollis. Integer vehicula dui arcu, sit amet auctor mi imperdiet in. Mauris accumsan tellus non lacus aliquet rutrum.</p>

    <p class="text-center">Nam ultrices lobortis libero non sodales. Ut semper pretium semper. Duis dolor libero,
        malesuada nec augue sit
         amet, tristique pretium justo. Mauris purus tortor, lacinia eu maximus in, vehicula sit amet ipsum. Fusce ac suscipit lorem. Vestibulum nec nibh euismod, varius nulla venenatis, aliquam enim. Morbi vel mauris sit amet metus aliquam placerat cursus at neque.</p>

</div>

{% endblock %}
