{% extends 'base.html.twig' %}

{% block title %}Règles{% endblock %}

{% block body %}

    <div class="container d-flex align-items-center flex-column">
        <h1 class="my-3">Règles du JDR</h1>

        <div class="container m-4 bg-light rounded p-lg-2 px-0">
            <h2>Sommaire</h2>
            <ul>
                <li><a href="#carac" class="text-info"><b>Caractéristiques</b></a>
                    <ul>
                        <li><a href="#carac-desc" class="text-info">Description des caractéristiques et sous-caractéristiques</a></li>
                        <li><a href="#carac-prop" class="text-info">Propriétés et fonctionnement des caractéristiques et
                                sous-caractéristiques</a></li>
                    </ul>
                </li>
                <li><a href="#compet" class="text-info"><b>Compétences</b></a></li>
                <li><a href="#combat" class="text-info"><b>Combat</b></a>
                    <ul>
                        <li><a href="#initiative" class="text-info">Initiative</a></li>
                        <li><a href="#tour" class="text-info">Tour d'action</a></li>
                        <li><a href="#fuite" class="text-info">Cas particulier de la fuite</a></li>
                        <li><a href="#calcul-deg" class="text-info">Calcul des dégâts, blessures et décès</a></li>
                    </ul>
                </li>
                <li><a href="##gain-xp" class="text-info"><b>Gain d'expérience</b></a></li>
            </ul>
        </div>


        <div class="container mb-5">
            <h3 id="carac">Caractéristiques</h3>
            <p><b>Corps</b> qui dépend des 4 sous-caractéristiques suivantes :</p>
            <ul>
                <li class="my-1">Endurance</li>
                <li class="my-1">Force</li>
                <li class="my-1">Agilité</li>
                <li class="my-1">Rapidité</li>
            </ul>
            <p><b>Esprit</b> qui dépend des 4 sous-caractéristiques suivantes :</p>
            <ul>
                <li class="my-1">Intelligence</li>
                <li class="my-1">Résilience</li>
                <li class="my-1">Charisme</li>
                <li class="my-1">Chance</li>
            </ul>
            <h4 id="carac-desc">Description des caractéristiques et sous-caractéristiques</h4>
            <ul>
                <li class="nd-list my-1"><b>Corps :</b> cette valeur représente la santé de votre personnage. Plus elle
                    est
                    élevée, plus
                    vous
                           pourrez encaisser de dégâts avant de passer l'arme à gauche.
                </li>
                <li class="nd-list my-1"><b>Esprit :</b> cette valeur représente votre potentiel magique. Plus elle est élevée, plus vous
                    serez
                            à même d'utiliser vos pouvoirs de manière fréquente (équivalent aux points de mana).</li>
                <li class="nd-list my-1"><b>Endurance :</b> cette valeur représente votre capacité à fournir des efforts sur la longueur ainsi
                               que votre résistance à la douleur et aux dégâts physiques.</li>
                <li class="nd-list my-1"><b>Force :</b> cette valeur représente votre puissance physique. Elle sera utile lors de combats au
                           corps à corps, le port de charges lourdes, pour lancer sur une grande distance, etc.
                </li>
                <li class="nd-list my-1"><b>Agilité :</b> cette valeur représente la souplesse, la dextérité. Elle est utilisée lors
                             d'acrobaties, d'esquive, d'escalade, d'utilisation d'arme à distance, etc.</li>
                <li class="nd-list my-1"><b>Rapidité :</b> cette valeur représente votre vitesse. Elle est utilisée lors de fuite,
                              course-poursuite, calcul d'initiative, etc.
                </li>
                <li class="nd-list my-1"><b>Intelligence :</b> cette valeur représente votre capacité à connaître et à comprendre. Elle est
                                  utile lors de recherches d'informations, d'observation, de vigilance, etc.</li>
                <li class="nd-list my-1"><b>Résilience :</b> cette valeur représente votre sang-froid ainsi que votre résistance à la peur et
                                aux dégâts magiques.</li>
                <li class="nd-list my-1"><b>Charisme :</b> cette valeur représente votre capacité à plaire, vous imposer en société. Elle sera
                              utile dans le cadre de négociation, persuasion, séduction, etc.</li>
                <li class="nd-list my-1"><b>Chance :</b> cette valeur... est un mystère ! Mais il paraît qu'on survit difficilement sans
                    chance
                    à Dreamland, allez savoir pourquoi…</li>
            </ul>
            <h4 id="carac-prop">Propriétés et fonctionnement des caractéristiques et sous-caractéristiques</h4>
            <p>Chaque sous-caractéristique a une valeur comprise entre 1 et 20, la moyenne des gens lambdas se situant entre 8 et 12. En dessous de 5, on parle de réel handicap. Au-dessus de 15, de douance.</p>
            <p>La valeur de chaque caractéristique est égale à la somme de ses sous-caractéristiques.</p>
            <p>A la création de personnage, il faudra distribuer au total 80 points tout en restant cohérent au niveau roleplay.</p>
            <p>Ces caractéristiques et sous-caractéristiques pourront être augmentées par l’entraînement couplé à l'achat en xp et par la possession d'objets. Néanmoins, si l'augmentation par l’entraînement a eu lieu à Dreamland, un retour dans le monde réel remettra toutes les valeurs à leur état initial et les xp ne seront pas récupérés. A contrario, toute valeur gagnée dans le monde réel sera conservée.</p>
            <p>La réussite d'une action découle d'un jet de dé dans la caractéristique correspondante (modifié par la compétence associée si elle existe). Il faudra faire au dé la valeur de sa caractéristique ou moins pour pouvoir réussir. Un 1 représente une réussite critique, un 20 un échec critique. Certaines actions particulièrement faciles ou difficiles subiront des bonus/malus choisis arbitrairement par le MJ.</p>

            <h3 id="compet">Compétences</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lacus nibh, efficitur vitae arcu quis, convallis feugiat magna. Integer sit amet enim vel justo bibendum hendrerit. Nulla semper elit varius neque malesuada pulvinar. Ut eu congue ante. Integer quis venenatis purus. Etiam interdum dui id ex dignissim finibus. Vestibulum sed gravida ipsum. Morbi ut cursus massa. Morbi vel diam sem. Quisque efficitur ex non velit molestie maximus. Cras felis arcu, faucibus vitae euismod semper, aliquam nec ipsum. Suspendisse eleifend dapibus nisl vitae efficitur. Ut tempus malesuada massa, non bibendum leo. Mauris lacus metus, varius eu tortor placerat, volutpat pellentesque urna.</p>

            <h3 id="combat">Combat</h3>
            <h4 id="initiative">Initiative</h4>
            <h5>Combat classique :</h5>
            <p>Comparaison de la rapidité des différents combattants : organisation par rapidité décroissante. En cas d’égalité, chaque joueur concerné lance un D20 et celui qui fait le score le plus bas remporte l’initiative (relancer les dés en cas d’égalité, jusqu’à un résultat différent).
            </p>
            <h5>Attaque surprise :</h5>
            <p>Le camp organisant l’attaque surprise aura toujours l’initiative. Au sein de ce groupe, les personnages peuvent agir dans l’ordre qu’ils souhaitent (mais cet ordre doit ensuite être conservé). Le camp subissant l’embuscade devra résoudre l’initiative au sein de son groupe de manière classique.</p>
            <h4 id="tour">Tour d'action</h4>
            <p>Lors de son tour, le personnage pourra effectuer les actions suivantes, dans l’ordre qu’il souhaite :</p>
            <ul>
                <li>Un déplacement (deux si la rapidité du personnage est supérieure ou égale à 15)</li>
                <li>Une déclaration brève (si trop longue, le tour d’action est perdu)</li>
                <li>Une action :</li>
            </ul>
            <div class="container mx-0 m-lg-4 bg-light rounded p-lg-2">
                <p>Si le personnage choisit de parer ou d’esquiver un attaque lors du tour d’un ennemi, il sautera son tour d’action. Ce dernier sera perdu même si l’esquive/parade a échoué. S’il choisit de le faire pendant son tour, il bloquera/esquivera une attaque si elle a lieu au prochain tour et bénéficiera normalement de son action au tour suivant.
                </p>
                <p><u>Attaque physique</u> : jet de force ou de dextérité (selon le type d’arme), facilité par les
                            compétences associées.</p>
                <p><u>Pouvoirs</u> : réussite automatique (nécessite de posséder la quantité d’esprit requise).</p>
                <p><u>Interaction</u> (ramasser un objet, passer un objet, chercher quelque chose dans son sac, etc.) :
                                réussite automatique.
                </p>
                <p><u>Esquive</u> : jet de dextérité, facilité par la compétence Esquive.</p>
                <p><u>Parade</u> : jet d’endurance, facilité par la compétence Parade.</p>
                <p>
                    Si attaque à distance réussie :<br>
                    - si compétence liée possédée : le personnage touchera une zone proche de celle visée. Plus le
                    jet est bon, plus il en sera proche.<br>
                    - si compétence liée non possédée : le personnage devra faire un jet de chance pour déterminer la zone touchée.

                </p>
            </div>
            <h4 id="fuite">Cas particulier de la fuite</h4>
            <p>Au lieu d’effectuer son tour d’action, il est possible de tenter de fuir. Le tour d’action est perdu même si la fuite échoue.
            </p>
            <p>Pour qu’un personnage puisse s’enfuir, il doit réussir un jet de rapidité (bonus/malus possible selon les circonstances). </p>
            <p>Si plusieurs personnages tentent de fuir durant le même tour, ils devront tous réussir leur jet de
                rapidité, sinon aucun ne réussira à fuir.</p>
            <p>En cas de fuite réussie, le personnage sera considéré assez loin pour être hors de portée des ennemis,
                mais aussi bien trop pour rejoindre le combat de nouveau. Tout départ du combat est définitif.</p>

            <h4 id="calcul-deg">Calcul des dégâts, blessures et décès</h4>
            <h5>Calcul des dégâts</h5>
            <p>En cas d’attaque armée ou d’utilisation de pouvoir, les dégâts infligés dépendent de l’arme/pouvoir utilisé(e).</p>
            <p>En cas d’attaque à main nue, les dégâts infligés dépendent de la sous-caractéristique Force selon le calcul suivant : Force / 2 (arrondi à l’inférieur).</p>
            <p>Aucune compétence n’octroie de bonus de dégâts.</p>
            <p>Les dégâts réels reçus sont égaux à : dégâts infligés - armure de la cible (plus modificateurs cités ci-dessous).</p>
            <p>Il est possible de les réduire en réussissant un jet d’endurance. Par deux en cas de réussite, par 4 en cas de réussite critique.</p>
            <p>Il est possible de les multiplier par deux si l’attaque est une réussite critique ou si le jet d’endurance de la victime est un échec critique.</p>
            <h5>Blessures</h5>
            <h6>Physiques :</h6>
            <p>Les blessures dans des zones ciblées peuvent apporter des malus à certaines actions, voir les rendre complètement impossibles (ex : être blessé à la jambe donne des malus à la course, être blessé à la main empêche de tirer, etc).</p>
            <p>Les dégâts de saignement feront perdre des points de corps à chaque tour tant que la blessure n’est pas pansée. Ce nombre de points dépendra de la gravité de la blessure.</p>
            <h6>Magique :</h6>
            <p>A compléter</p>
            <h5>Décès</h5>
            <p>Un personnage sera considéré comme KO si ses points de corps arrivent à 0.</p>
            <p>Il effectuera un jet de chance à chaque tour tant qu’il ne sera pas soigné. En cas d’échec au jet, le personnage sera déclaré mort.</p>
            <p>Certains objets permettent de se prémunir contre la mort (à Dreamland), de manière unique, après quoi ils perdront leur effet.</p>
            <p>Dans le cas d’un décès à Dreamland, seul l’esprit est détruit. Le corps quant à lui reste vivant mais végétatif dans le monde réel.</p>
            <p>Dans le cas d’un décès dans le monde réel, il est total (corps et esprit) et aucun recours n’est possible.</p>
            <h3 id="#gain-xp">Gain d'expérience</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lacus nibh, efficitur vitae arcu quis, convallis feugiat magna. Integer sit amet enim vel justo bibendum hendrerit. Nulla semper elit varius neque malesuada pulvinar. Ut eu congue ante. Integer quis venenatis purus. Etiam interdum dui id ex dignissim finibus. Vestibulum sed gravida ipsum. Morbi ut cursus massa. Morbi vel diam sem. Quisque efficitur ex non velit molestie maximus. Cras felis arcu, faucibus vitae euismod semper, aliquam nec ipsum. Suspendisse eleifend dapibus nisl vitae efficitur. Ut tempus malesuada massa, non bibendum leo. Mauris lacus metus, varius eu tortor placerat, volutpat pellentesque urna.</p>
        </div>
    </div>
{% endblock %}
