{% extends 'base.html.twig' %}

{% block title %}Méthodes d'introduction{% endblock %}

{% block body %}
    <div class="container my-5 d-flex align-items-center flex-column">
        <h1 class="my-3">Méthodes d'introduction</h1>
        <div class="col col-md-6 mx-auto px-0">
            <img src={{ asset('images/dreamcatcher.jpg') }} alt="dreamcatcher" class="my-3 rounded w-100">
        </div>
        <p class="text-center mt-3">Dreamland étant le monde des rêves que chacun rejoint inconsciemment et temporairement pendant ses phases de sommeil paradoxal, il existe en réalité diverses manières de s'y rendre.</p>

        <p class="text-center">La première et la plus répandue à San Francisco est l'<b>hypnose</b>. Le Dr Parkinson
                utilise
            une technique d'hypnose toute particulière qui, en plongeant ses patients dans l'inconscience, les envoit
            directement visiter les affres oniriques. Persuadé de ne rien faire de surnaturel, ce cher docteur n'a
            aucune idée de ce qu'il fait en réalité (vous envoyer à Dreamland) mais il le fait bien !</p>

        <p class="text-center">De façon beaucoup moins officielle, sachez que les pratiquants des sciences occultes
            sont beaucoup plus nombreux à San Francisco qu'on pourrait le croire. Marabouts, païen(ne)s, chamans,
            hindous, ... certaines de ces personnes pour le moins hors du commun accepteraient sans doute de vous
            plonger dans des <b>transes</b> similaires à l'hypnose, afin que vous permettre de rejoindre Dreamland. Il
                est plus difficile de rencontrer des individus qui ne soient pas des charlatans, mais ne vous en faites pas, le résultat sera aussi au rendez-vous.</p>

        <p  class="text-center">Certaines <b>drogues</b> dures peuvent également provoquer des pertes de conscience et
            des voyages vers Dreamland. Attention cependant aux inconvénients : addiction, overdose, dégâts sur la santé, hallucinations... sans compter que la durée des effets ne peut pas être prévue avec précision.</p>

        <p class="text-center">Les <b>comas</b> sont aussi des allés simples vers le monde des rêves. Il faut cependant
            prendre garde à cette voie d'entrée : dans ce cas, votre corps dans le monde réel se trouve dans
            l'incapacité de se réveiller ; vous serez donc prisonniers de vos chimères jusqu'à ce que la médecine
            vous tire de votre "sommeil" et cela pourrait prendre des jours comme des années, voir ne jamais arriver.</p>

        <p class="text-center">Pour quelques-uns d'entre vous, le principe du <b>rêve lucide</b> vous permettra de
            rejoindre les contrées Dreamlandienne de façon totalement contrôlée. A partir du moment où vous prenez conscience d'être en plein rêve, votre corps - jusque-là fantomatique dans l'autre monde - trouvera une consistance astrale et vous serez un voyageur au même titre que les autres.</p>

        <p class="text-center">Dans tous les cas, peu importe le moyen utilisé, à votre premier voyage vous vous
            retrouverez projeté à Ellipse, la ville située au centre de ce nouveau monde. Et une fois l'esprit ayant
            effectué consciemment un voyage vers Dreamland, un lien se crée entre vous et ce monde rendant le fait d'y retourner bien plus facile, peu
            importe le biais utilisé... que vous vouliez renouveler le voyage ou non.
        </p>
    </div>
{% endblock %}
