// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

.white-box {
  background: white;
}

.font-boot {
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
}

.bg-body {
  background: #4E4E4E;
}

.bg-main {
  background: #F1F1F1;
}

.nd-list {
  list-style-type: circle;
}

.bg-info {
  background: #2D988D !important;
}

.btn-info, .btn-info:active, .btn-info:visited {
  background-color: #2D988D !important;
}

.btn-info:hover {
  background-color: #35a499 !important;
}

.text-info {
  color: #2D988D !important;
}

nav li {
  transition-duration: 0.3s;
}

nav li:hover {
  font-size: 110%;
}

.circle {
  background: white;
  width: 25px;
  height: 25px;
  position: relative;
  top: 25px; right: 15px;
  margin-right: -25px;
}

.bg-yellow {
  background-color: #f8dfb1;
}

.page-item.active .page-link {
  background-color: #2D988D !important;
  border-color: #2D988D !important;
  color: white !important;
}

.page-link {
  color: #2D988D !important;
}