{% extends 'base.html.twig' %}

{% block title %}Réinitialiser mon mot de passe{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1 class="mb-3">Réinitialiser mon mot de passe</h1>
        {{ form_start(reinitForm) }}
        {{ form_row(reinitForm.email, { label: 'Entrez votre email'}) }}
            <button class="btn btn-info" type="submit">Réinitialiser mon mot de passe</button>
        {{ form_end(reinitForm) }}
    </div>
{% endblock %}